*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/*-------header-------*/
.header{
    background-image: linear-gradient(to bottom , rgba(0, 0, 145, 0.7),rgba(27, 27, 41, 0.7)),url(img/aerial.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    background-size: cover;
    top: 0;
    height: 9rem;
}

.img img{
width: 8%;
height: 8%;
margin-top: 1rem;
margin-left: 10rem;
border-radius: 10px;
}
.links{
float: right;
margin: 3.5rem 8rem 0.5rem 0rem;

}
.links span a{
text-decoration: none;
color: #fff;
padding: 1rem;
cursor: pointer;
font-size: x-large;
transition: 1s;
}
/*-------HEADER(MOBILE)------*/
@media  (max-width: 600px) {
.header{
    width: auto;
    background-color: rgb(47, 47, 149);
    top: 0;
     height: 10rem;
}
.img img{
    width: 25%;
    height: 25%;
    align-items: center;
    padding-bottom: 5px;
}
.links{
    float: right;
    margin: 0rem 0rem 0rem 1rem;
    background-color: #000;
    width: 100%;
    margin-top: 0.9rem;

}
.links span a{
    text-decoration: none;
    color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    cursor: pointer;
    font-size: 0.9rem;
}

}


/*--------------signup------------*/

.signup{
    background-color: rgb(75, 74, 74);
    width: auto;
    height: 9rem;
    color: white;
    font-weight: 800;
    text-align: center;
    padding: 65px 46px;
    font-size: 24px;
    font-family: sans-serif;
}
/*-------signup--------*/
@media screen and (max-width: 600px) {

  
}

/*--------------SIGNUP SECTION------------*/
.signup-details p{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 3%;
}
.signup-form{
    margin-left: 25%;
    
}
.signup-form label{
    font-size: 24px;
    margin-bottom: 2rem;
    font-weight: 300;
    
}
.signup-form input{
    padding: 1rem 12rem 1rem 0.5rem;
    margin-bottom: 1rem;
    font-size: 16px;
    background-color: #e7e6e6;
    color: #929292;
    border: none;
    border-radius: 15px;
}
.signup-form select{
    padding: 1rem 12rem 1rem 0.5rem;
    margin-bottom: 1rem;
    font-size: 18px;
    background-color: #e7e6e6;
    color: #929292;
    border: none;
    border-radius: 15px;
}
.submit a{
    margin-left: 45%;
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
    padding: 1rem 4rem;
    background-color: orangered;
    border-radius: 2rem;
}
.closing{
    text-align: center;
    margin: 5%;
}
.closing a{
    font-size: 18px;
    font-family: monospace;
}
.closing a:hover{
    text-decoration: none;
    color: crimson;
    
}

/*-------SINGUP SECTION---------*/
@media screen and (max-width: 600px){
    .signup-details{
        width: auto;
        margin-left: 0;
       
    }
    .signup-details p{
        font-size: 10px;
        text-align: center;
    }
    .signup-form label{
        font-size: 18px;
        margin-bottom: 2rem;
    }
    .signup-form input{
        padding: 0.5rem 6rem 0.5rem 0.5rem;
        margin-bottom: 1rem;
        font-size: 16px;
    }
    .terms p{
        font-size: 15px;
        margin-bottom: 5%;
    }
    .submit{
        margin: 10%;
        align-items: center;
        margin-left: -15%;
        
    }
    .closing{
        text-align: center;
        margin-bottom: 3%;
    }
}
/*-------SUBSCRIBE NOW TO OUR NEWS LETTER-------*/
.news{
    display: flex;
    background-image: url(img/blue_bg.png);
    gap: 10rem;
    width: auto;
    padding-top: 5%;
    padding-bottom: 5%;  
}
.subscribe{
    margin-left: 5%;
}
.subscribe h4{
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
.subscribe p{
    font-size: 1.2rem;
}
.email input{
    padding: 1rem 2rem 1rem 1.5rem;
    font-size: 1.5rem;
    border: none;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
}
.email label a{
   padding: 1rem 2rem 1rem 1rem;
   font-size: 1.5rem;
   border-top-right-radius: 2rem;
   border-bottom-right-radius: 2rem;
   text-decoration: none;
   background-color: orange;
   color: #fff;
}
.email label a:hover{
    background-color: blue;
    color: yellow;
}
.terms a{
    font-size: 18px;
    font-family: sans-serif;
}
.terms a:hover{
    text-decoration: none;
    color: crimson;
}
/*-------SUBSCRIBE NOW TO OUR NEWS LETTER (MOBILE) -------*/
@media screen and (max-width: 600px){
    .news{
        display: block;
        width: auto;
    }
    .subscribe{
        margin-left: 1rem;
    }
    .subscribe h4{
        font-size: 1.4rem;
    }
    .subscribe p{
        margin-bottom: 1rem;
    }
    .email{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .email input{
        padding: 0.5rem 1rem 0.5rem 0.5rem;
        font-size: 1rem;
        border: none;
        border-bottom-left-radius: 2rem;
        border-top-left-radius: 2rem;
    }
    .email label a{
        padding: 0.5rem 1rem 0.5rem 0.5rem;
        font-size: 1rem;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
        text-decoration: none;
        background-color: orange;
        color: #fff;
     }
}

/*----------FOOTER------*/
.footer{
    color:aliceblue;
    background-color: rgb(28, 27, 27);
    padding: 30px;
    width: 100vw;
}
.footer-data{
    margin-top: 5%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
    margin-bottom: 8%;
}
.logo img{
    width: 150px;
    justify-content: space-around;
    border-radius: 5%;
}
.logo p{
    margin-top: 5%;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 300;
}
.course h1{
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 600;
}
.course p{
    margin-top: 5%;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 300;
    cursor: pointer;
}
.categories h1{
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 600;
}
.categories p{
    margin-top: 5%;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 300;
    cursor: pointer;
}
.footer-links h1{
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 600;
}
.footer-links p{
    margin-top: 5%;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 300;
    cursor: pointer;
}
@media (max-width: 700px){
    .footer-data{
        display: block;
    }
    .logo img{
        width: 80px;
    }
    .logo p{
        font-size: 14px;
    }
    .course h1{
        font-size: 16px;
        margin-top: 2%;
    }
    .course p{
        font-size: 14px;
    }
    .categories h1{
        font-size: 16px;
        margin-top: 2%;
    }
    .categories p{
        font-size: 14px;
    }
    .footer-links h1{
        font-size: 16px;
        margin-top: 2%;
    }
    .footer-links p{
        font-size: 14px;
    }
}